.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Set a width for each card box */
}
